/*

Write your custom styles and overrides of Bootstrap in this file.

For example, if you wanted to change the body font:

body {
  font-family: "Vollkorn";
}

*/

h1 {background-color: blue;
color: white;
 }

.tablemore {
text-align: right;
padding-top:0px;
padding-right: 10px
}

.panel_1 {

  border: blue thin solid;
  border-radius: 5px;
}

